
<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<style type="text/css">
		body {
		  background:#F7F7F7;
		  color:#666666;
		  font-family: 'Roboto', sans-serif;
		  font-weight:100;
		 
		}

		body{
		  width: 100%;
		  background: -webkit-linear-gradient(left, #22d686, #24d3d3, #22d686, #24d3d3);
		  background: linear-gradient(to right, #22d686, #24d3d3, #22d686, #24d3d3);
		  background-size: 600% 100%;
		  
		}

		.container{
			background-color: #ffffff;
		}

		.top-nav-bar{
			margin-bottom: : 10px;
			padding: 10px;
			background-color: black;
		}

		.image{
			background-color: green;
			
		}
		.options{
			background-color: pink;
		}


		

		.left {
		  height:200px;
		  text-align: center; 
		}

		.right {
			text-align: center;
		  height:95vh;
		  overflow-y: scroll;
		  max-height:100%;
		}

		a {
		    text-decoration: none;
		    display: inline-block;
		    padding: 8px 16px;
		}

		a:hover {
		    background-color: #ddd;
		    color: black;
		}

		.previous {
		    background-color: #000000;
		    color: white;
		}

		.next {
		    background-color: #000000;
		    color: white;
		}

		.round {
		    border-radius: 50%;
		}

	</style>
</head>
<body>
<div class="container">
	<div class="row top-nav-bar">
		<div class="col-md-12 text-right">
			<a href="/logout" style="color: #ffffff;">logout</a>
		</div>	
	</div>

	<div class="row main-content">

		<div class="col-md-7 left">
			<div class="row" style="height: 20%;background-color: #ffffff;"></div>
			<div class="row selected-image"></div>
			<!--
			<div class="row">
				<div class="col-md-12">
					<img src="../static/temp.jpg" class="img-responsive" style="margin: 0 auto;">	
				</div>
				
			</div>
			-->
			<!--
			<div class="row text-center">
				<div class="col-md-5 col-md-offset-1" style="background-color: green;">
					<a href="" style="display: block;color: white;padding: 10px;">accept</a>
				</div>
				<div class="col-md-5" style="background-color: red;">
					<a href="" style="display: block;color: white;padding: 10px;">reject</a>
				</div>
			</div>
			-->
			
		</div>

		<div class="col-md-5 text-center right">
			<div class="row" style="padding: 10px;">
				<div class="col-md-12">
				<!-- Single button -->
				<div class="btn-group">
				  <button type="button" class="btn btn-default dropdown-toggle" id="camera-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    select a camera <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
				    <li><a href="#" onclick='changeCamera("cam1")'>cam1</a></li>
				  	<li><a href="#" onclick='changeCamera("cam2")'>cam2</a></li>
				  	<li><a href="#" onclick='changeCamera("cam3")'>cam3</a></li>
				  	<li><a href="#" onclick='changeCamera("cam4")'>cam4</a></li>
				  </ul>
				</div>
				   
				
				</div>
				
			</div>

			<div class="row thumbnails">
				
			</div>
			<!--
			load initial set of data and schedule a request after 15 seconds
			-->
			<!--
			{% for i in range(0,10) %}
				<p style="margin-bottom: 1px;padding: 10px;border:1px solid black;">
					<a href="" style="display: block; width: 100%;color: black;">{{"img%d"%(i)}}</a>		
				</p>
				
			{% endfor %}
			-->	
		</div>
		
		
		
	</div>
</div>


<script type="text/javascript">
	files = []
	var selectedIndex;
	function deleteFile(){
		var selectedFile = files[selectedIndex]
		$.ajax({
		    url: '/delete',
		    method: 'POST',
		    data: {cameraid : selectedFile.cameraid,timestamp:selectedFile.timestamp,boundingbox:selectedFile.boundingbox},
		    success: function (data) {
		        console.log(data);

		        var id = selectedIndex.toString()
		        if(document.getElementById(id) != null){
		        	 
			        if(document.getElementById(id).nextElementSibling != null){
			        	var elem = document.getElementById(id).nextElementSibling;
			        	changeImage(elem.id)
			        }else if(document.getElementById(id).previousElementSibling != null){
			        	//remove left side
			        	var elem = document.getElementById(id).previousElementSibling
			        	changeImage(elem.id)
			        }else{
			        	console.log("not found")
			        	removeLeftContent()
			        }
			        document.getElementById(id).remove()
		        }

		    },
		    error: function () {
		        // Uh oh, something went wrong
		        console.log("error")
		    },
		    complete: function(){
		    	
		    }
			});
	}

	function acceptFile(){
			var selectedFile = files[selectedIndex]
			$.ajax({
			    url: '/accept',
			    method: 'POST',
			    data: {cameraid : selectedFile.cameraid,timestamp:selectedFile.timestamp,boundingbox:selectedFile.boundingbox},
			    success: function (data) {
			        console.log(data);
			        var id = selectedIndex.toString()
			        if(document.getElementById(id) != null){
			        	 
				        if(document.getElementById(id).nextElementSibling != null){
				        	var elem = document.getElementById(id).nextElementSibling;
				        	changeImage(elem.id)
				        }else if(document.getElementById(id).previousElementSibling != null){
				        	//remove left side
				        	var elem = document.getElementById(id).previousElementSibling
				        	changeImage(elem.id)
				        }else{
				        	console.log("not found")
				        	removeLeftContent()
				        }
				        document.getElementById(id).remove()
			        }
			        
			        //$('.right').empty()
 

			    },
			    error: function () {
			        // Uh oh, something went wrong
			        console.log("error")
			    },
			    complete: function(){
			    	
			    }
				});
		}

	function removeLeftContent(){
		$('.list-buttons').detach()
		$('.metadata').detach()
		$('.selected-image').empty()
	}

	function changeImage(index) {
		console.log(index)
		selectedIndex = index
		var selectedFile = files[index]

		removeLeftContent()

		var left_content = '<div class="col-md-8 col-md-offset-2"><img src="' + "http://127.0.0.1:8000/" + selectedFile.filepath + '" class="img-responsive" style="margin: 0 auto;">	</div>'
		var buttons = '<div class="row list-buttons" style="margin:10px;"> <a href="#" class="previous round" onclick="goToPrev()">&#8249;</a> <button style="margin:10px;" class="btn btn-success" onclick="acceptFile()">Accept</button> <button style="margin:10px;" class="btn btn-danger" onclick="deleteFile()">Reject</button> <a href="#" class="next round" onclick="goToNext()">&#8250;</a></div>'
		var metadata = '<div class="row metadata">'+ 
		'<div class="col-md-8 col-md-offset-2">'+
		'<p>' + selectedFile.cameraid + ' - ' + selectedFile.timestamp +'</p>'
		+'</div>'
		+'</div>'

		
		$('.selected-image').append(left_content)
		$('.left').append(buttons)
		$('.left').append(metadata)
		

		//deleteFile()
	}

	function goToNext(){
		var id = selectedIndex.toString()
		if(document.getElementById(id) != null){
			        	 
	        if(document.getElementById(id).nextElementSibling != null){
	        	var elem = document.getElementById(id).nextElementSibling;
	        	changeImage(elem.id)
	        }else{
	        	console.log("not found")
	        }
	    }
		
	}

	function goToPrev(){
		var id = selectedIndex.toString()
		if(document.getElementById(id) != null){
			        	 
	        if(document.getElementById(id).previousElementSibling != null){
	        	//remove left side
	        	var elem = document.getElementById(id).previousElementSibling
	        	changeImage(elem.id)
	        }else{
	        	console.log("not found")
	        }
	    }
	}


	function periodic_load(cameraid) {
		document.getElementById('camera-dropdown').innerHTML = cameraid  + '<span class="caret"></span>'
		$.ajax({
		    url: '/data.json',
		    method: 'POST',
		    data: {skipcount : files.length, cameraid: cameraid},
		    success: function (data) {
		        console.log(data);
		        for(var i = 0;i < data.length;i++){
		        	files.push(data[i])

		        	var index = files.length - 1
		        	var item = '<div class="col-md-4" id="'+ index +'"><a href="#" onclick="changeImage('+ index +')" class="thumbnail"><img style="width:100px;height:100px;" src="http://127.0.0.1:8000/'+ data[i].filepath+'" alt="..."></a></div>'
		        	/*var item = '<p style="margin-bottom: 1px;padding: 10px;border:1px solid black;" id="'+ data[i].timestamp + '"><a href="#" onclick="changeImage('+ index + ')" style="display: block; width: 100%;color: black;" class="img-link">' + data[i].filepath + '</a> </p>'
					*/

		        	$('.thumbnails').append(item)
		        	if(files.length == 1){
		        		changeImage(index)
		        	}
		    	}
		    },
		    error: function () {
		        // Uh oh, something went wrong
		        console.log("error")
		    },
		    complete: function(){
		    	//setTimeout(periodic_load, 3000);
		    }
			});

	}

	function changeCamera(cameraid){
		files = []
		$('.thumbnails').empty()
		periodic_load(cameraid)
	}

	$(document).ready(function() {
	  // run the first time; all subsequent calls will take care of themselves
	  periodic_load("cam1");
	});

</script>
</body>
</html>